[zigbee-switch]
filename=switch_patch
subdriver=switch-patch

[zigbee-lock]
filename=lock_patch
subdriver=lock-patch

[zigbee-siren]
filename=siren_patch
subdriver=siren-patch

[hue-motion]
filename=hue_patch
subdriver=hue-patch

[zigbee-dimmer-switch]
filename=dimmer_patch
subdriver=dimmer-patch

[zigbee-contact]
filename=contact_patch
subdriver=contact-patch

[zigbee-water-leak-sensor]
filename=water_patch
subdriver=water-patch

[zigbee-button]
filename=button_patch
subdriver=button-patch

[zigbee-motion-sensor]
filename=motion_patch
subdriver=motion-patch

[zigbee-presence-sensor]
filename=presence_patch
subdriver=presence-patch